.btn {
  color: aliceblue;
  background-color: rgba(108, 149, 246, 0.5);
  border: 1px solid;
  border-color: #696 #363 #363 #696;
  padding: 5px;
}

/* Boxes */
#boxes{
  float: left;
  margin-top:20px;
  padding: 10px;
  width: 50%;
}

#boxes .boxinte{
  text-align: center;
  color: black;
  background-color: rgb(183, 203, 211);
  width: 90%;
  padding: 10px;
}

.boxinte p a{
  color: rgb(29, 104, 175);
  text-decoration: underline;
}
.boxinte h3{
  font-size: 20px;
  background-color: rgb(50, 91, 116);
  color: white;
}

