<header>
<div class="container">
  <div id="branding">
    <h1><span class="highlight">OSS</span>Center</h1>
  </div>
  <nav>
    <ul>
      <li class="current"><a routerLink="">Integration</a></li>
      <li class="normal"><a routerLink="/oms">OMS</a></li>
      <li class="normal"><a routerLink="/netacts">Netact</a></li>
      <li class="normal"><a routerLink="/apis">API</a></li>
      <li class="normal"><a routerLink="/contactus">Contact US</a></li>
    </ul>
  </nav>
</div>
</header>