<app-navbar></app-navbar>
<div class ="container">
  <article id="main-col">
    <h1 class="page-title">Contact Us</h1>
    <p>For integration status or error, please contact: </p>
    <p>Qin Tao: damon.qin@nokia-sbell.com</p>
    <p>Li Zheng: zheng.2.li@nokia-sbell.com</p>
    <div class="dark">
      <h3>About Us</h3>
      <p>MN 4G RAN Airscale China Feature Prodzn OAM HZH1 Verification</p>
      <p>developed by Hannah.jia@nokia-sbell.com</p>
      <p>maintained by Adia.hou@nokia-sbell.com</p>
    </div>  
  </article>
</div>
<app-footer></app-footer>
